@font-face {
    font-family: "Roboto";
    src: url("./fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Grape nuts";
    src: url("./fonts/GrapeNuts-Regular.ttf");
}

body{
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    place-items: center;
    place-content: center;
}

*{
    font-family: var(--font-regular), sans-serif;
    box-sizing: border-box;
    appearance: none;
    border: none;
    margin: 0;
    padding: 0;
}

:root{
    --background-wrapper:rgba(0, 0, 0, 0.5);
    --shadow:0px 0px 20px 1px rgba(0, 0, 0, 0.25);
    --background-accent: rgb(82, 189, 255);
    --font: white;
    --font-cursive: "Grape nuts";
    --font-regular: "Roboto";
    --error: rgb(255, 110, 110);
}

body, :root{
    margin: 0;
    height: 100%;
    width: 100%;
}

.wrapper{
    min-height: 100%;
    width: 700px;
    backdrop-filter: blur(5px) saturate(50%);
    background-color: var(--background-wrapper);
    display: grid;
    grid-auto-rows: min-content;
    box-shadow: var(--shadow);
    place-items: stretch;
    place-content: stretch;
    padding: 30px;
    gap: 30px;
}

h1{
    font-family: var(--font-cursive), sans-serif ;
    font-size: 56px;
    color: var(--background-accent);
    text-align: center;
}

h2{
    font-size: 32px;
}

h3{
    font-size: 14px;
    align-self: flex-end;
}

h2, h3{
    text-align: center;
    color: var(--font);
}

form{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 10px;
}

input, button, select{
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: var(--shadow);
}

button{
    background-color: var(--background-accent);
    color: var(--font);
    cursor: pointer;
}

button:hover{
    filter: brightness(115%);
}

.error-panel{
    color: var(--error);
    text-align: center;
    height: 30px;
    font-size: 20px;
    word-wrap: break-word;
}

.weather-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 20px;
}

.icon{
    width: 40px;
    align-self: center;
    justify-self: end;
}

.weather-info{
    color: var(--font);
    align-self: center;
    font-size: 24px;
}